:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
}

body {
  font-family: "Livvic", sans-serif;
  font-weight: 500;
  background-image: url(img/logon_bg.svg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
